.search-bar {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;

  input {
    flex: 1;
    padding: 8px 12px;
    border: solid 1px #ccc;
    border-radius: 5px;
    font-size: 14px;
  }

  button {
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    background-color: #005cbb;
    color: white;
    cursor: pointer;
  }
}
